@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Black.woff2') format('woff2'),
        url('../fonts/MavenPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Regular.woff2') format('woff2'),
        url('../fonts/MavenPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Bold.woff2') format('woff2'),
        url('../fonts/MavenPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-SemiBold.woff2') format('woff2'),
        url('../fonts/MavenPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-ExtraBold.woff2') format('woff2'),
        url('../fonts/MavenPro-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Medium.woff2') format('woff2'),
        url('../fonts/MavenPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

